@CHARSET "ISO-8859-1";
.post
{
	margin: 0px;
	padding: 10px 10px 10px 10px;
}

.title
{
	padding: 0px 0px 10px 0px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;	
}

.description 
{
	padding: 0px 0px 0px 0px;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 12px;
}

.commentscount
{
	padding: 5px 0px 0px 0px;
	font-family: sans-serif;
	font-weight: normal;
	font-style:italic;
	font-size: 12px;
}

.pagination
{
	margin: 0px;
	padding: 10px 0px 0px 10px;
}
.comment
{
		padding: 5px 0px 0px 0px;
}

.comments
{
	padding: 10px 10px 10px 10px;
}
.postedby
{
	font-style:italic;
	font-family:monospace;
}